<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down_side_cut-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{24,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>down_side_cut-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{23,1},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>down_side_cut.png</string>
            <key>size</key>
            <string>{42,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ac12b552c77b20def84fd1bc30b7b0a:f686ceb5a7d7432e4d043e4e690f73c3:61b00ea75ed43337ba87e941b55651d6$</string>
            <key>textureFileName</key>
            <string>down_side_cut.png</string>
        </dict>
    </dict>
</plist>
