<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left_side_cut-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,23},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_side_cut-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>left_side_cut.png</string>
            <key>size</key>
            <string>{26,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba20a316b0ffaef7deefc71db2674a2b:fbbafdd29377bc0341fe69bf4670048d:5f1eb96ab5a5dc17f1c7739a81f41f48$</string>
            <key>textureFileName</key>
            <string>left_side_cut.png</string>
        </dict>
    </dict>
</plist>
