<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right_side_water-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right_side_water-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,19},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>right_side_water.png</string>
            <key>size</key>
            <string>{32,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4c3cf580de8afd57bab9206fdadaacb:6baa0b1efc4ca4c296e5c27267c5f75c:f3b3d7642d2d06d95974490fcacfc9c8$</string>
            <key>textureFileName</key>
            <string>right_side_water.png</string>
        </dict>
    </dict>
</plist>
