<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slime-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,178}</string>
                <key>spriteSourceSize</key>
                <string>{216,178}</string>
                <key>textureRect</key>
                <string>{{0,0},{216,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,160}</string>
                <key>spriteSourceSize</key>
                <string>{223,160}</string>
                <key>textureRect</key>
                <string>{{0,178},{223,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slime-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,172}</string>
                <key>spriteSourceSize</key>
                <string>{238,172}</string>
                <key>textureRect</key>
                <string>{{0,338},{238,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slime.png</string>
            <key>size</key>
            <string>{238,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99bec91a009f5be80764b992351e12cb:eb1b9e0d7eb7c3125d8e4022fcdde3c6:b3a62b0b328aea8bce2242c347c9e672$</string>
            <key>textureFileName</key>
            <string>slime.png</string>
        </dict>
    </dict>
</plist>
