<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>up_side_action-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>up_side_action-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{16,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,31},{16,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>up_side_action.png</string>
            <key>size</key>
            <string>{18,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad4c2432b93a677f224c60fb62b4e79e:e513be02614d49f3122d2e7f262b3d28:4fdfbdd9b2dc4c464ee65c9a76ad4bc1$</string>
            <key>textureFileName</key>
            <string>up_side_action.png</string>
        </dict>
    </dict>
</plist>
